<section class="single-prepper-section">
    <fieldset>
    <legend class="single-prepper-section__heading">Your Prepper Profile</legend>

    <div class="profile-box">
        <h2 class="single-prepper-section__name">{{prepper.prepper_name}}</h2>
        <p class="single-prepper-section__star-sign">{{prepper.star_sign}}</p>
        <p class="single-prepper-section__movie">{{prepper.movie}}</p>
        <h2 class="my-preps">My Preps</h2>
        <table id="my-preps-table">
        <tr>
          <th colspan="3">My Preps</th>
        </tr>
        <tr>
          <th>Prep Name</th>
          <th>Description</th>
          <th>Prep Type</th>
        </tr>
        {{#each preps}}
        <tr>
            
            <td>{{prep_name}}</td>
            <td>{{description}}</td>
            <td>{{prep_type}}</td>

        </tr>
        {{/each}}
      </table>

        <a href="/get-prepped"><button class="single-prepper-section__button" />Get Prepped!</button></a>
    

    </div>
    </fieldset>
</section>
